<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('Details') }}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('NameEnglish') }} :</h6>
                        {{ item.standard.nameEnglish }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('NameDari') }} :</h6>
                        {{ item.standard.nameDari }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('NamePashto') }} :</h6>
                        {{ item.standard.namePashto }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('TipEnglish') }} :</h6>
                        {{ item.standard.tipEnglish }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('TipDari') }} :</h6>
                        {{ item.standard.tipDari }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('TipPashto') }} :</h6>
                        {{ item.standard.tipPashto }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{ l('Section') }}) {{ l('NameEnglish') }} :</h6>
                        {{ item.sectionNameEnglish }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-outline-info" (click)="close()">
                    {{ l('Close') }}
                </button>
            </div>
        </div>
    </div>
</div>
